body{
  background-image: linear-gradient(rgb(152, 152, 248),rgb(250, 183, 194),rgb(245, 222, 222));
  min-height: 500px;
  background-repeat: no-repeat;
}
label {
  font-size: 25px;
}
input{
  height: 40px;
  border-radius: 25px;
  border: 2px solid black;
  background-color: rgb(175, 248, 224);
}
button{
  height: 40px;
  width: 150px;
  font-size: 20px;
  border-radius: 20px;
  border: 2px solid black;
  background-color: rgb(175, 248, 224);
  margin-top: 20px;
}
#container{
  margin: 30px;
  width: 1000px;
  min-height:fit-content;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 5px;
  display: grid;
  grid-template-columns: auto auto;
}
#msg{
  margin: 5px;
  background-color: rgb(241, 154, 154);
  border: 2px solid black;
  border-radius: 20px;
  height: 40px;
  width:450px;
  padding-top: 20px;
 margin: 10px;
}